header {
    color: #000000;
    background-color: #94440f;
    height: 60px;
    text-align: center;
    padding: 15px;
}
h1 {
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;
    letter-spacing: 0.5em;
}
body {
    color: #000000;
    background-image: url(images/backgroundimage.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    background-color: #94440f;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}
nav a {
    text-decoration: none;
    color: #e8bc5c;
}
h2 {
    color: #005a27;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}
h3 {
    color: #00401c;
    font-family: Georgia, "Times New Roman", serif;
}
dt {
    color: #002171;
}
span.selected {
    color: #671010;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
}
#contact {
    font-size: 90%;
}
#wrapper {
    margin: auto;
    width: 80%;
    background-color: #e8bc5c;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px #333333;
}
main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}
table {
    margin: auto;
    border: 2px solid #470074;
    border-collapse: collapse;
    width: 1000px;
    height: 1000px;
}
table td, th {
    padding: 0.5em;
    border: 2px solid #470074;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
table td.tier {
    background-color: #6a6969;
    width: 850px;
    height: 100px;
}
table td.backgroundimage {
    width: 850px;
    height: 50px;
    font-size: 15px;
}
tr.tier:nth-of-type(1) {
    background-color: lightcoral;
}
tr.tier:nth-of-type(2) {
    background-color: orange;
}
tr.tier:nth-of-type(3) {
    background-color: yellow;
}
tr.tier:nth-of-type(4) {
    background-color: lightgreen;
}
tr.tier:nth-of-type(5) {
    background-color: lightblue;
}
tr.tier:nth-of-type(6) {
    background-color: violet;
}
tr.tier:nth-of-type(7) {
    background-color: pink;
}
form {
    flex-direction: column;
    flex-wrap: nowrap;
}
input {
    margin-bottom: 0.5em;
}
input[type="lyrics"] {
    width: 200px;
    height: 200px;
    font-family: inherit;
    font-size: inherit;
    margin:0;
}
input[type="style"] {
    width: 200px;
    height: 50px;
}
input[type="name"] {
    width: 200px;
    height: 20px;
}
textarea {
    margin-bottom: 0.5em;
}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}